<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Interventions</h4>
                        <p class="card-category">Ajouter les interventions de cette astreinte</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-md btn-so" (click)="add()">
                                    <i class="material-icons">add_circle_outline</i>
                                    <span>Ajouter intervention</span>
                                </button>
                            </div>
                            <div class="col-md-8">

                                <div *ngFor="let intervention of interventions; let in=index" class="border">
                                    <form>
                                        <div class="row">

                                            <div class="col-md-12">

                                                <mat-form-field class="example-full-width">
                                                    <textarea matInput placeholder="Evènement"></textarea>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Date" type="date">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Heure de début" type="time">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Heure de fin" type="time">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Soumettre</button>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/user.png"/>
                        </a>
                    </div>
                    <div class="card-body">

                        <h4 class="card-title">Renseignement</h4>
                        <form>


                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom" value="Foulen">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Prenom" value="Ben Foulen">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Equipier" value="Chef">
                            </mat-form-field>
                        </form>
                    </div>
                </div>
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/star.png"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Notez le déroulement de l'astreinte</h4>
                        <star-rating value="0" checkedcolor="red"
                                     uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event)"></star-rating>
                        <!-- Large modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                            Cliquez ici pour ajouter des retours
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Retours</h4>
                    <p class="card-category">Ajoutez vos retours</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color: black">Entrée dans le dispositif (réunion d'entrée / sortie d'astreinte : contenu, durée, format, etc..)</label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Ce que vous avez apprécié"></textarea>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Ce qui doit être amélioré/développé"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color: black">Moyens mis à disposition<br/>
                                <ul>
                                    <li>Matériels et applications (iphone, PC potable, i-message, etc )</li>
                                    <li>Documents (procédures, etc)</li>
                                </ul></label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Ce que vous avez apprécié"></textarea>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Ce qui doit être amélioré/développé"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color: black">Interventions dans le cadre de l'astreinte et l'organisation de l'équipe:
                                    </label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Bonne pratique"></textarea>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Difficultés"></textarea>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Commentaires libres"></textarea>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Confirmer</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
