<app-loader-component></app-loader-component>
<app-alert></app-alert>
<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button  type="submit" class="btn btn-danger btn-lg" [disabled]="!loginForm.valid">LOG IN</button>
      </div>
    </form>
  </div>
</div>
