
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Export XLS de la liste</h4>
                        <p class="card-category"> ..</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="export(f3)" #f3="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>De </label>
                                    <input type="date" class="form-control" name="dateDebut" ngModel>
                                </div>
                                <div class="col-md-6">
                                    <label> à </label>
                                    <input type="date" class="form-control" name="dateFin" ngModel>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-danger" >Exporter</button>

                                </div>
                                <div class="col-md-4"></div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/user.png" />
                        </a>
                    </div>
                    <div class="card-body">

                        <h4 class="card-title">Foulen Ben Foulen</h4>
                        <h6 class="card-category text-gray">Email : Foulen@gmail.com</h6>
                        <h6 class="card-category text-gray">Vivier : Chef</h6>



                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Astreite par semaine</h4>
                        <p class="card-category"> Veuillez choisir la semaine à afficher</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="refreshTable(f)" #f="ngForm">
                            <div class="row">
                                <div class="col-md-10">
                                    <select class="form-control" id="sel1" name="semaineChoisi" ngModel >
                                        <option hidden>--Selectionner une semaine--</option>
                                        <option *ngFor="let semaine of semaines" [ngValue]="semaine.id">
                                            S{{semaine.numSemaine}} Du Vendredi {{semaine.debutSemaine| date: 'dd/MM/yyyy'}} au Jeudi {{semaine.finSemaine| date: 'dd/MM/yyyy'}}</option>

                                    </select>

                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">Actualiser</button>
                                </div>
                            </div>

                        </form>
                        <form (ngSubmit)="saveTable(f2)" #f2="ngForm">

                            <br>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox" *ngIf="idSemaine!=null && astreintes!=null"  >
                                        <input type="checkbox" class="custom-control-input" id="ins" ngModel name="inscrire">
                                        <label class="custom-control-label" for="ins">M'inscrire pour toute la semaine</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox" *ngIf="astreintes">
                                        <input type="checkbox" class="custom-control-input" id="xls" ngModel name="export" >
                                        <label class="custom-control-label" for="xls">Export XLS de la semaine</label>
                                    </div>

                                </div>
                            </div>
                            <div class="table-responsive row">
                                <table class="table table-striped table-bordered" *ngIf="astreintes!=null">

                                    <thead class=" text-primary">
                                    <th rowspan="2" class="text-center">Vivier</th>
                                    <th colspan="2" class="text-center">
                                        Vendredi
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Samedi
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Dimanche
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Lundi
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Mardi
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Mercredi
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Jeudi
                                    </th>


                                    </thead>
                                    <thead class=" text-danger">
                                    <th></th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>
                                    <th class="text-center">Matin</th>
                                    <th class="text-center">Après-midi</th>

                                    </thead>
                                    <tbody *ngIf="astreintes!=null">
                                    <tr     *ngFor="let astreinte of astreintes" >
                                        <td>{{astreinte.vivier.label}}</td>
                                        <td *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
<!--                                            {{console.log('********'+number)}}-->
                                            <div class="custom-control custom-checkbox" *ngIf="!existRemplacement(astreinte.remplacements,number); else elseBlock" >
<!--                                                <input type="hidden" id="custId" name="custId" value="{{existRemplacement(number,astreinte) }}">-->
                                                <input type="checkbox" class="custom-control-input"
                                                       id="remplacement{{number}}" name="remplacement{{number}}"  ngModel>
                                                <label class="custom-control-label"  for="remplacement{{number}}" >Remplacer</label>
                                                {{astreinte.user.nom +' ' +astreinte.user.prenom }}
<!--                                                <p *ngIf="!existRemplacement(number,astreinte); else elseBlock">{{astreinte.user.nom +' ' +astreinte.user.prenom }}</p>-->
<!--                                                <ng-template #elseBlock>{{getRemplacementUser(number,astreinte) }}</ng-template>-->
                                            </div>
                                            <ng-template #elseBlock>{{getRemplacementUser(astreinte.remplacements,number)}}</ng-template>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-danger">Sauvegarder</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

